* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    padding-bottom: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    color: #031104;/*深灰*/
}

main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-bottom: 4.5rem;
}

section {
    margin-bottom: 4rem;
}


ol {
    padding-left: 25px;
}

li {
    margin-bottom: 1.5rem;
    padding-left: 5px;
}

label {
    cursor: pointer;
    position: relative;
    line-height: 1.5;
}

[type="radio"] {
    position: absolute;
    z-index: 1;
}

li>label:first-child {
    margin-right: 4rem;
}

label>span {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background-color: white;
    border-radius: 50%;
    border: 3px solid #80943d;/*浅墨绿*/
    vertical-align: sub;
    margin-right: 8px;
}

label>[type="radio"]:checked ~ span {
    background-color: #2c5420;/*深墨绿*/
}

[type="submit"] {
    background-color: #2c5420;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 2rem;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
[type="submit"]:disabled {
    background-color: #b1b4a9;/*极浅墨绿*/
}

[type="radio"],
[type="submit"] {
    -webkit-appearance: none;/*解决iPhone safari上的圆角问题*/
}

a {
    color: #b1b4a9;
}
a:hover {
    color: #2c5420;
}

#result {
    display: none;
}

.reference {
    display: inline-block;
    min-width: 15rem;
}

.a-type,
.b-type {
    display: inline-block;
    width: 20rem;
    height: 1.5rem;
    vertical-align: text-bottom;
    border: 1px solid #80943d;
    border-radius: 2px;
    margin-right: 1.25rem;
    margin-left: 0.75rem;
}
.a-type>div,
.b-type>div {
    height: 100%;
}
.a-type {
    background-color: white;
}
.a-type>div {
    background-color: #2c5420;
}
.b-type {
    background-color: #2c5420;
}
.b-type>div {
    background-color: white;
}

.t-center {
    text-align: center;
}

.r-right {
    text-align: right;
}

.mb-1-5 {
    margin-bottom: 1.5rem;
}

@media (max-width: 544px) {
    html {
        font-size: 14px;
    }
    main {
        width: 95%;
    }
    li {
        margin-bottom: 2rem;
    }
    li>label {
        display: block;
        margin-bottom: 1rem;
    }
    li>label:first-child {
        margin-right: 0;
    }
    label>span {
        vertical-align: text-bottom;
    }
    .a-type, .b-type {
        margin-right: 0;
        margin-left: 0;
    }
    .a-type,.b-type,.reference, [type="submit"] {
        width: 100%;
    }
    .r-right {
        text-align: left;
    }
    .r-left {
        text-align: right;
    }
}
